{% extends "base.html.twig" %}

{% block title %} Movies {% endblock %}

{% block head %}

{% endblock %}

{% block content %}

<h1>{{ movie.title }} ({{ movie.date|date('d/m/Y')}})</h1>

<small>{{movie.genreId.name}} - {{movie.directorId.firstName}} {{movie.directorId.lastName}}</small>


<div>
<img src="{{ movie.coverImage }}" width="100">
</div>

<p> {{ movie.description }} </p>

<h2>Actors</h2>

    {% for actor in movie.actors %}
     {{actor.firstName}}&nbsp;{{actor.lastName}}
    {% endfor %}

{% endblock %}